# LaTeX compilation files and folders
/.current_course.mk
/latex-libs/
/build/
/docs/*
!/docs/.nojekyll

# Auxiliary LaTeX Files 
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.synctex.gz
*.nav
*.snm
*.vrb
*.fdb_latexmk
*.fls
*.xdv
*.run.xml
*.bcf

# Temporary files
*~
*.bak
*.tmp
*.swp
.DS_Store
Thumbs.db
